
SELECT 
     l.LOCATION_ID
	,crm.SITE_ID
    ,l.AREA_UNIT_NUMBER
    ,l.PROP_ID
    ,l.GEOPOL_LOCATION_CODE
    ,l.NAME LOCATION_NAME
    ,lt.[DESCRIPTION] GATHERING_TYPE
 
FROM 
    [LOCATION] l
    LEFT JOIN LOCATION_TYPE lt ON l.LOCATION_TYPE_ID = lt.LOCATION_TYPE_ID
	LEFT JOIN crm.Locations crm ON crm.location_id = l.LOCATION_ID
WHERE
    l.PROVIDER_ID = 8387